service: pychromelambda

provider:
  name: aws
  runtime: python3.6
  profile: personal
  iamRoleStatements:
    -  Effect: "Allow"
       Action:
         - "s3:PutObject"
       Resource: "arn:aws:s3:::stiglerimages/*"

custom:
  pythonRequirements:
    dockerizePip: true

functions:
  screenshot:
    handler: chrome.screenshot
    exclude:
     - ./bin
     - ./node_modules
     - "*.zip"
    events:
      - http:
          path: img
          method: post
          private: false
    layers:
       - {Ref: ChromeLambdaLayer}

layers:
  chrome:
    path: ./bin

plugins:
  - serverless-python-requirements
